html.green {
  // custom green theme for element Ui vuejs
  --el-color-primary: hsla(160, 100%, 37%, 1);
  --el-color-primary-light-1: hsla(160, 100%, 42%, 1);
  --el-color-primary-light-2: hsla(160, 100%, 47%, 1);
  --el-color-primary-light-3: hsla(160, 100%, 52%, 1);
  --el-color-primary-light-4: hsla(160, 100%, 57%, 1);
  --el-color-primary-light-5: hsla(160, 100%, 62%, 1);
  --el-color-primary-light-6: hsla(160, 100%, 67%, 1);
  --el-color-primary-light-7: hsla(160, 100%, 72%, 1);
  --el-color-primary-light-8: hsla(160, 100%, 77%, 1);
  --el-color-primary-light-9: hsla(160, 100%, 82%, 1);
  --el-color-primary-light-10: hsla(160, 100%, 87%, 1);
  --el-color-primary-light-11: hsla(160, 100%, 92%, 1);
  --el-color-primary-light-12: hsla(160, 100%, 97%, 1);
  --el-color-primary-dark-1: hsla(160, 100%, 32%, 1);
  --el-color-primary-dark-2: hsla(160, 100%, 27%, 1);
  --el-color-primary-dark-3: hsla(160, 100%, 22%, 1);
  --el-color-primary-dark-4: hsla(160, 100%, 17%, 1);
  --el-color-primary-dark-5: hsla(160, 100%, 12%, 1);
  --el-color-primary-dark-6: hsla(160, 100%, 7%, 1);
  --el-color-primary-dark-7: hsla(160, 100%, 2%, 1);
  --el-color-primary-dark-8: hsla(160, 100%, -3%, 1);
  --el-color-primary-dark-9: hsla(160, 100%, -8%, 1);
  --el-color-primary-dark-10: hsla(160, 100%, -13%, 1);
  --el-color-primary-dark-11: hsla(160, 100%, -18%, 1);
  --el-color-primary-dark-12: hsla(160, 100%, -23%, 1);
  --el-text-color-primary: hsla(160, 100%, 37%, 1);
  --el-text-color-primary-light: hsla(160, 100%, 72%, 1);
  --el-text-color-primary-dark: hsla(160, 100%, 2%, 1);
  --el-text-color-primary-light-1: hsla(160, 100%, 42%, 1);
  --el-text-color-primary-dark-1: hsla(160, 100%, 32%, 1);
  --el-text-color-primary-light-2: hsla(160, 100%, 47%, 1);
  --el-text-color-primary-dark-2: hsla(160, 100%, 27%, 1);
  --el-text-color-primary-light-3: hsla(160, 100%, 52%, 1);
  --el-text-color-primary-dark-3: hsla(160, 100%, 22%, 1);
  --el-text-color-primary-light-4: hsla(160, 100%, 57%, 1);
  --el-text-color-primary-dark-4: hsla(160, 100%, 17%, 1);
  --el-text-color-primary-light-5: hsla(160, 100%, 62%, 1);
  --el-text-color-primary-dark-5: hsla(160, 100%, 12%, 1);
  --el-text-color-primary-light-6: hsla(160, 100%, 67%, 1);
  --el-text-color-primary-dark-6: hsla(160, 100%, 7%, 1);
  --el-text-color-primary-light-7: hsla(160, 100%, 72%, 1);
  --el-text-color-primary-dark-7: hsla(160, 100%, 2%, 1);
  --el-text-color-primary-light-8: hsla(160, 100%, 77%, 1);
  --el-text-color-primary-dark-8: hsla(160, 100%, -3%, 1);
  --el-text-color-primary-light-9: hsla(160, 100%, 82%, 1);
  --el-text-color-primary-dark-9: hsla(160, 100%, -8%, 1);
  --el-text-color-primary-light-10: hsla(160, 100%, 87%, 1);
  --el-text-color-primary-dark-10: hsla(160, 100%, -13%, 1);
  --el-text-color-primary-light-11: hsla(160, 100%, 92%, 1);
  --el-text-color-primary-dark-11: hsla(160, 100%, -18%, 1);
  --el-text-color-primary-light-12: hsla(160, 100%, 97%, 1);
  --el-text-color-primary-dark-12: hsla(160, 100%, -23%, 1);
  --el-border-color-primary: hsla(160, 100%, 37%, 1);
  --el-border-color-primary-light: hsla(160, 100%, 72%, 1);
  --el-border-color-primary-dark: hsla(160, 100%, 2%, 1);
  --el-border-color-primary-light-1: hsla(160, 100%, 42%, 1);
  --el-border-color-primary-dark-1: hsla(160, 100%, 32%, 1);
  --el-border-color-primary-light-2: hsla(160, 100%, 47%, 1);
  --el-border-color-primary-dark-2: hsla(160, 100%, 27%, 1);
  --el-border-color-primary-light-3: hsla(160, 100%, 52%, 1);
  --el-border-color-primary-dark-3: hsla(160, 100%, 22%, 1);
  --el-border-color-primary-light-4: hsla(160, 100%, 57%, 1);
  --el-border-color-primary-dark-4: hsla(160, 100%, 17%, 1);
  --el-border-color-primary-light-5: hsla(160, 100%, 62%, 1);
  --el-border-color-primary-dark-5: hsla(160, 100%, 12%, 1);
  --el-border-color-primary-light-6: hsla(160, 100%, 67%, 1);
  --el-border-color-primary-dark-6: hsla(160, 100%, 7%, 1);
  --el-border-color-primary-light-7: hsla(160, 100%, 72%, 1);
  --el-border-color-primary-dark-7: hsla(160, 100%, 2%, 1);
  --el-border-color-primary-light-8: hsla(160, 100%, 77%, 1);
  --el-border-color-primary-dark-8: hsla(160, 100%, -3%, 1);
  --el-border-color-primary-light-9: hsla(160, 100%, 82%, 1);
  --el-border-color-primary-dark-9: hsla(160, 100%, -8%, 1);
  --el-border-color-primary-light-10: hsla(160, 100%, 87%, 1);
  --el-border-color-primary-dark-10: hsla(160, 100%, -13%, 1);
  --el-border-color-primary-light-11: hsla(160, 100%, 92%, 1);
  --el-border-color-primary-dark-11: hsla(160, 100%, -18%, 1);
  --el-border-color-primary-light-12: hsla(160, 100%, 97%, 1);
  --el-border-color-primary-dark-12: hsla(160, 100%, -23%, 1);
  --el-menu-border-color: hsla(160, 100%, 37%, 1);
  --el-menu-text-color: hsla(160, 100%, 37%, 1);
  --el-menu-text-color-active: hsla(160, 100%, 37%, 1);
  --el-menu-text-color-hover: hsla(160, 100%, 37%, 1);
  --el-menu-bg-color: hsla(160, 100%, 82%, 1);
  --el-menu-bg-color-active: hsla(160, 100%, 72%, 1);
  --el-menu-bg-color-hover: hsla(160, 100%, 72%, 1);
  --el-menu-text-color-dark: hsla(160, 100%, 2%, 1);
  --el-menu-text-color-active-dark: hsla(160, 100%, 2%, 1);
  --el-menu-text-color-hover-dark: hsla(160, 100%, 2%, 1);
  --el-menu-bg-color-dark: hsla(160, 100%, 37%, 1);
  --el-menu-bg-color-active-dark: hsla(160, 100%, 32%, 1);
  --el-menu-bg-color-hover-dark: hsla(160, 100%, 32%, 1);
  --el-menu-border-color-dark: hsla(160, 100%, 2%, 1);
  --el-menu-text-color-light: hsla(160, 100%, 72%, 1);
  --el-menu-text-color-active-light: hsla(160, 100%, 72%, 1);
  --el-menu-text-color-hover-light: hsla(160, 100%, 72%, 1);
  --el-menu-bg-color-light: hsla(160, 100%, 97%, 1);
  --el-menu-bg-color-active-light: hsla(160, 100%, 92%, 1);
  --el-menu-bg-color-hover-light: hsla(160, 100%, 92%, 1);
  --el-menu-border-color-light: hsla(160, 100%, 72%, 1);
  --el-menu-text-color-primary: hsla(160, 100%, 37%, 1);
  --el-menu-text-color-active-primary: hsla(160, 100%, 37%, 1);
  --el-menu-text-color-hover-primary: hsla(160, 100%, 37%, 1);
  --el-menu-bg-color-primary: hsla(160, 100%, 82%, 1);
  --el-menu-bg-color-active-primary: hsla(160, 100%, 72%, 1);
  --el-menu-bg-color-hover-primary: hsla(160, 100%, 72%, 1);
  --el-menu-border-color-primary: hsla(160, 100%, 37%, 1);
  --el-menu-text-color-primary-dark: hsla(160, 100%, 2%, 1);
  --el-menu-text-color-active-primary-dark: hsla(160, 100%, 2%, 1);
  --el-menu-text-color-hover-primary-dark: hsla(160, 100%, 2%, 1);
  --el-menu-bg-color-primary-dark: hsla(160, 100%, 37%, 1);
  --el-menu-bg-color-active-primary-dark: hsla(160, 100%, 32%, 1);
}
